.digital {
    text-align: center;
   font-size: 50px;
   margin-bottom: 20px;
   
}

.Dog {
    text-align: center;
    width: 100%;
    margin: 20px 0;
    color: #333;
    margin-bottom: 20px;
}

.myHeadline {
    text-align: center;
    width: 100%;
    margin: 20px 0;
}
img {
    margin: 15 auto;
    display: block;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h3{
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.mine {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

p{
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.Food {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.2em;
}

.Link {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}
a{
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

audio {
    display: block;
    margin: 15px auto;
    width: 80%;
    border-radius: 8px;
}

.Music {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.Things {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

video {
    display: block;
    margin: 0 auto;
}

.myVideo {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}
.Openat {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.Quote {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

body {
    background-color: wheat;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 1s ease;
}

body.loaded {
    transform: translateY(0);
    opacity: 1;
    background: linear-gradient(135deg, #f9d976, #f39f86);
}
