body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e0f7fa, #b2ebf2, #80deea);
}


.ice-box {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}


.form-label {
  font-weight: bold;
  color: #004d66;
}


.form-control {
  border: 1px solid #b2ebf2;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.7);
  transition: border 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  border: 1px solid #009688;
  box-shadow: 0 0 8px rgba(0, 150, 136, 0.5);
  outline: none;
}


.ice-box a {
  display: block;
  margin-top: 12px;
  text-align: center;
  color: #6f42c1;
  text-decoration: none;
}

.ice-box a:hover {
  text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

